@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">OOAD tutorijalski demo projekat</h1>
    <p><a href="https://github.com/jhasanovic/OOAD-tut">Github repozitorij</a></p>
</div>
