<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ooadtutorijal2-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1c2c5650-6082-43cb-8882-636ffca8fd21</ProjectGuid>
    <MSDeployServiceURL>https://win8043.site4now.net:8172/msdeploy.axd?site=ooadtutorijal2-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ooadtutorijal2-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>ooadtutorijal2-001</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>